[workspace]
members = [
    "core",
    "examples/basic",
    "examples/test",
    "examples/log_tls",
    "examples/log_http",
    "examples/log_dns",
    "examples/log_tls",
    "examples/pcap_dump",
    "examples/video",
    "examples/client_randoms",
    "examples/ip_anon",
    "filtergen",
]

[profile.release]
lto = true

[patch.crates-io]
pcap = { git = 'https://github.com/thegwan/pcap', branch = 'compile-optimized' }

